<%= form_with(model: [customer, product_price]) do |form| %>
  <% if product_price.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product_price.errors.count, "error") %> prohibited this product price from being saved:</h2>
      <ul>
        <% product_price.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :product_id, "商品", style: "display: block" %>
    <%= form.collection_select :product_id, Product.all, :id, :product_name, { prompt: "商品を選択してください" } %>
  </div>

  <div>
    <%= form.label :selling_price, "販売単価（仕切）", style: "display: block" %>
    <%= form.number_field :selling_price, step: 0.01 %>
  </div>

  <div>
    <%= form.label :notes, "備考", style: "display: block" %>
    <%= form.text_area :notes, rows: 3 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
