<p style="color: green"><%= notice %></p>

<%= render @product_price %>

<div>
  <%= link_to "Edit this product price", edit_product_price_path(@product_price) %> |
  <%= link_to "Back to product prices", product_prices_path %>

  <%= button_to "Destroy this product price", @product_price, method: :delete %>
</div>
