<%= form_with(model: supplier) do |form| %>
  <% if supplier.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>
      <ul>
        <% supplier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :supplier_code, "仕入先コード", style: "display: block" %>
    <%= form.text_field :supplier_code %>
  </div>

  <div>
    <%= form.label :supplier_name, "仕入先名", style: "display: block" %>
    <%= form.text_field :supplier_name %>
  </div>

  <div>
    <%= form.label :closing_day, "締日", style: "display: block" %>
    <%= form.select :closing_day, [
      ['5日', 5],
      ['10日', 10],
      ['15日', 15],
      ['20日', 20],
      ['25日', 25],
      ['月末', 99]
    ], include_blank: "選択してください" %>
  </div>

  <div>
    <%= form.label :payment_terms, "支払サイト", style: "display: block" %>
    <%= form.number_field :payment_terms, min: 0, placeholder: "0〜12など" %>
    <span>ヶ月後</span>
  </div>

  <div>
    <%= form.label :payment_day, "支払日", style: "display: block" %>
    <%= form.select :payment_day, [
      ['5日', 5],
      ['10日', 10],
      ['15日', 15],
      ['20日', 20],
      ['25日', 25],
      ['月末', 99]
    ], include_blank: "選択してください" %>
  </div>


  <div>
    <%= form.label :case_break_order_allowed, "ケース割れ発注", style: "display: block" %>
    <%= form.select :case_break_order_allowed, [
      ['可', true],
      ['否', false]
    ], include_blank: "選択してください" %>
  </div>

  <div>
    <%= form.label :case_break_order_fee, "ケース割れ送料", style: "display: block" %>
    <%= form.number_field :case_break_order_fee %>
  </div>

  <div>
    <%= form.label :notes, "備考", style: "display: block" %>
    <%= form.text_area :notes, rows: 5 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
